---

---

<html lang="de">
  <head>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="index, follow" />
    <meta
      name="description"
      content="Michael Meierhoff ist ein erfahrener Softwareentwickler und Enterprise Architekt, der Unternehmen hilft, moderne Softwarelösungen zu entwickeln und IT-Strukturen zu skalieren."
    />
    <meta
      name="keywords"
      content="Michael Meierhoff, Softwareentwickler, Enterprise Architekt, IT-Strukturen, moderne Softwarelösungen, skalieren, Architektur, IT-Architektur, Systementwicklung"
    />
    <meta name="author" content="Michael Meierhoff" />
    <title>Michael Meierhoff - Softwareentwickler & Enterprise Architekt</title>
  </head>
</html>
<body class="flex min-h-screen items-center justify-center bg-gray-900">
  <div class="text-center text-white">
    <slot />
  </div>
</body>
